mixin recommendations()
  - let recommendationsData = [{img: 'assets/images/money.svg', caption: 'Не соглашайтесь продавать агрегат первому покупателю или попавшейся компании. Всегда ищете второго человека либо организацию, с которой можно сравнивать цену. Запомните, 2-3 % в стоимости – это большая разница.',color: 'red'},{img: 'assets/images/man.svg', caption: 'Перед продажей перекупщикам обязательно обратитесь в независимый центр оценки стоимости авто. Заплатите немного денег, но будьте уверены, что вам не занизят стоимость автотранспорта. Не сделав этого потерять можно гораздо больше.',color: 'red'},{img: 'assets/images/washcar.svg', caption:'Конечно, на внешний вид транспорта мало обращают внимания, ведь агрегат бит, что там поймешь. Однако постарайтесь привести свою машину в максимально привлекательный вид перед продажей, так можно запросить больше денег, или хотя бы попытаться.',color: 'red'}]
  - let cardsData = [{img: 'assets/images/bluecar.svg',title: 'Как правильно буксировать машину', text: 'Срочно продаете машину? Узнайте как быстро и эфективно подготовить автомобиль к продаже.'},{img: 'assets/images/cardmoney.svg', title: 'Стоимость переофомления авто',text: 'Срочно продаете машину? Узнайте как быстро и эфективно подготовить автомобиль к продаже.'},{img:'assets/images/greencar.svg', title: 'Как подоготовить свою машину к продаже', text: 'Срочно продаете машину? Узнайте как быстро и эфективно подготовить автомобиль к продаже.'}]
  +b.recommendations
    .container
      +e.title.title Советы при продаже
      +e.block-wrapper
        each item in recommendationsData
          +flex-item(item.img,item.caption,item.color)
        
  +b.cards
    each item in cardsData
      +cards(item.img, item.title, item.text)