extends ../layouts/main
include ../blocks/calculator/calculator


block content
  - var sectionMenu = [{type: 'radio', name: 'check', id: 'rad1',value='1','checked'},{type: 'radio', name: 'check', id: 'rad1',value='1','checked'},{type: 'radio', name: 'check', id: 'rad1',value='1','checked'},{type: 'radio', name: 'check', id: 'rad1',value='1','checked'}];
  +calculator()
