extends ../layouts/main
include ../blocks/calculator/calculator
include ../blocks/info-block/info-block
include ../blocks/about-us/about-us
include ../blocks/list-about-auto/list-about-auto
include ../blocks/recommendations/recommendations
include ../blocks/contacts/contacts
include ../mixins/mixins.pug

block content
  - let infoSigns = [{img: 'assets/images/car.png', caption: 'После ДТП'}, {img: 'assets/images/fire.png', caption: 'После пожара'}, {img: 'assets/images/bus.png', caption: 'Грузовые до 3,5 т'}, {img: 'assets/images/card.png', caption: 'Кредитные'}, {img: 'assets/images/cabriolet.png', caption: 'Любой марки'}, {img: 'assets/images/bike.png', caption: 'Мотоцикл'}]
  - let sectionMenu = [{type: 'radio', name: 'check', id: 'rad1', value: '1',img: 'gear',caption: 'checked'},{type: 'radio', name: 'check', id: 'rad2',value: '2',img: 'chassis'},{type: 'radio', name: 'check', id: 'rad3',value: '3',img: 'body'},{type: 'radio', name: 'check', id: 'rad4',value: '4',img: 'seat'},{type: 'radio', name: 'check', id: 'rad5',value: '5',img: 'flash'},{type: 'radio', name: 'check', id: 'rad6',value: '6',img: 'repairkit'}]
  - let sectionSelect = [{type: 'checkbox', name: 'check', id: 'ch1', value: '100',img: 'Коленчатный вал',caption: 'checked'}, {type: 'checkbox', name: 'check', id: 'ch2', value: '100',img: 'ГБЦ'},{type: 'checkbox', name: 'check', id: 'ch3', value: '100',img: 'Камера сгорания'},{type: 'checkbox', name: 'check', id: 'ch4', value: '100',img: 'Привод клапанов'},{type: 'checkbox', name: 'check', id: 'ch5', value: '100',img: 'Поршни'},{type: 'checkbox', name: 'check', id: 'ch6', value: '100',img: 'Распредвал'}]

  +b.page--main
    +calculator()
    +info-block()
    +about-us()
    +list-about()
    +recommendations()
    +contacts()