mixin about-us()
  +b.about-us
    .container
      +e.IMG(src='assets/images/carimg.svg').image
      +e.right-block
        +e.text-section
          +e.title Что потребуется от вас, чтобы срочно <br>
                  | и дорого продать авто?
          +e.text.--hide Мы провели более 4000 подобных сделок, поэтому
                | действуем максимально быстро: осмотр — оформление
                | договора — оплата. Все довольны!
                | Нужно срочно продать автомобиль? С момента вашего
                | звонка до денег у вас на руках пройдет всего 1 час!
                | Не верите? Проверьте скорость “Кометы Авто” прямо сейчас,
                | свяжитесь с нами любым удобным способом!
                | Остались вопросы? Загляните в FAQ, возможно, мы уже
                | ответили на них!
          +e.button.--plus 
        +e.text-section.--on 
          +e.title Насколько быстро мы выкупим <br> ваше авто?
          +e.text Мы провели более 4000 подобных сделок, поэтому
                | действуем максимально быстро: осмотр — оформление
                | договора — оплата. Все довольны!
                | Нужно срочно продать автомобиль? С момента вашего
                | звонка до денег у вас на руках пройдет всего 1 час!
                | Не верите? Проверьте скорость “Кометы Авто” прямо сейчас,
                | свяжитесь с нами любым удобным способом!
                | Остались вопросы? Загляните в FAQ, возможно, мы уже
                | ответили на них!
          +e.button.--minus  
        
        