mixin info-block()
  +b.info-block
    .container
      +e.section-info.section-info__
        +e.image-wrap
          +e.IMG(src='../../../assets/images/infoimage.png').image
        +e.text-wrap-top
          +e.title Срочный выкуп авто #[br] в Ростове
          +e.P.text Ваш автомобиль уже отжил свое время? Случилась авария? 
                  | Вашей компании нужно обновить автопарк и выгодно избавиться
                  | от старого транспорта? “Комета Авто” к вашим услугам!
          +e.P.text Мы предлагаем срочный выкуп авто в Ростове и Ростовской 
                    | области. Такой же быстрый, как комета, такой же надежный,
                    | как новенький Porsche!        

      +e.section-info.section-info__
        +e.text-wrap-bottom
          +e.title Какие авто #[br] мы принимаем?
          +e.P.text Устали вкладывать средства в ремонт старого железного 
                    | коня? Остановите эту бессмысленную утечку финансов,
                    | лучше продайте его и вложите полученную сумму в новый
                    | автомобиль вашей мечты! Если ваша машина уже не на
                    | ходу или у вас нет времени подъехать к нашему центру
                    | выкупа авто в Ростове — вызовите наш эвакуатор или
                    | оценщика совершенно бесплатно!
          +e.P.text Если коротко, то любые, от потрепанных жизнью ВАЗов
                    | до элитных иномарок, с любыми неисправностями и
                    | внешними дефектами. Примем такие автомобили:
     
        +e.image-wrap
          +b.info-signs
            each item in infoSigns
              +flex-item(item.img,item.caption)
           
             



