mixin calculator()
  +b.calculator
    +b.slider
      +e.IMG(src='../../assets/images/slider.png').slider-item

    +b.FORM.form
      +e.left-wrapper
        +e.H2.title Расчитайте<br> примерную стоимость
        +e.profile.profile__
          +e.LABEL.phone


      +e.right-wrapper