include ../bemto/bemto.pug
include ../mixins/mixins
include ../blocks/header/header
include ../blocks/footer/footer
include ../blocks/scripts/scripts

-
  set_bemto_settings({
    prefix: '',
    element: '__',
    modifier: '--'
  })


doctype html
html(lang='en')
  include ../blocks/head/head
  body
    .svg-sprite
      include ../blocks/sprite/svg.svg
    .main-content
      +header()
      block content
      +footer()
    block scripts
    +scripts(["https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d43381.12923916624!2d39.67797410685336!3d47.19073760049537!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2sru!4v1594034391884!5m2!1sru!2sru",'build.js'])