//color var
blackColor=#000
captionИдфсл=#3D3D3D
whiteColor=#fff
backgroundColor = 
//mixin font-family font-weight
GothamPro = 'GothamPro', sans-serif
GothamPro-Bold = 'GothamPro-Bold', sans-serif
GothamPro-Light = 'GothamPro-Light', sans-serif

//max-width container
width-reg = 810px
width-main = 1770px

// breakpoints
lg-breakpoint = 1199px 
md-breakpoint = 992px
sm-breakpoint = 794px
xs-breakpoint = 540px


