.calculator
  position relative
  background alpha(backgroundColor-calculator,0.5) 

  .container
    padding-top 109px

.slider
  position absolute
  left 50%
  transform translateX(-50%)
  top -49px

.form
  .container
    display flex
    justify-content space-between

  &__title
    font-family GothamPro
    font-size 30px
    line-height 40px
    color smallTitle
  
  &__left-wrap
    margin-right 103px
    max-width 504px
  
  &__right-wrap
    width 584px
  
  &__total-data
    margin-top 53px

.profile
  display flex
  margin-top 61px
  margin-bottom 27px

  &__phone-wrap, &__cost-wrap
    display flex
    flex-wrap wrap
  
  &__phone-wrap
    margin-right 16px

  &__label
    font-family GothamPro
    font-size 12px
    line-height 19px
    color labelGray
  
  &__input
    background #FFFFFF
    border 1px solid #E5E5E5
    box-sizing border-box
    border-radius 3px
    width 243px
    height 45px
    padding-left 12px
    font-family Roboto
    font-size 12px
    line-height 19px
    color darkColor

.total-data
  display flex
  align-self center
  justify-content space-between
  &__sum
    font-family GothamPro
    font-size 24px
    line-height 39px
    color captionColor

  &__cost
    font-family Roboto
    font-weight 700
    font-size 24px
    line-height 25px
    margin-left 30px

  &__button-request
    background hoverLinkColor
    color whiteColor

.section-menu
  display flex
  justify-content space-around
  align-items center

  &__input
    display none

    &:checked + label
      .section-menu__icon
        fill hoverLinkColor
     
  &__icon
    fill alpha(hoverLinkColor, 0.5)

.gear, .chassis
  width 26px
  height 26px

.body
  width 27px
  height 21px

.seat
  width 28px
  height 28px

.flash, .repairkit
  width 24px
  height 24px

.selection-section
  &__section-wrap
    width 584px
    height 403px
    background whiteColor
    box-sizing border-box
    box-shadow 0px 4px 4px rgba(0, 0, 0, 0.25)
    border-radius 10px
  
  &__section-header
    display flex
    justify-content space-between
    align-items center
    border 1px solid alpha(smallTitle,0.1)
    padding-bottom 32px
    margin-bottom 60px

  &__title
    font-family GothamPro
    font-size 24px
    line-height 32px
    color smallTitle
    font-weight 700
  
  &__count
    font-family GothamPro
    font-size 16px
    line-height 21px
    color alpha(smallTitle,0.3)
  
  &__item-wrap
    width 230px
    height 46px
    background rgba(223, 237, 254, 0.3)
    border 1.5px solid hoverLinkColor
    box-sizing border-box
    border-radius 30px
    position relative
    padding-left 21px
  
  &__input
    display none

  &__label
    font-family GothamPro
    font-size 18px
    line-height 17px
    color hoverLinkColor
    position absolute
    top 50%
    transform translateY(-50%)
  
