.info-block
  padding-top 100px
  padding-bottom 146px

  &__section-info:not(:last-child)
    margin-bottom 204px

.section-info
  display flex
  justify-content space-between
  align-items center

  &__text-wrap

    &-top
      max-width 553px
    
    &-bottom
      max-width 568px
    
  &__title    
    font-family GothamPro
    font-size 36px
    line-height 48px
    color captionColor
    margin-bottom 38px

  &__text
    font-family GothamPro
    font-size 16px
    line-height 30px
    color captionColor

+below(sm-breakpoint)
  .section-info
    flex-wrap wrap
    justify-content center

